<header>

<div *ngIf="_authService.loggedIn()">

	<div *ngIf="tipo==='admin'">
	
		<ul>
			
			<li><a [routerLink]="['/perfil/', resID]" [routerLinkActive]="['actived']" *ngIf="_authService.loggedIn()">Perfil</a></li>
			<li><a [routerLink]="['/proyectos/']" [routerLinkActive]="['actived']" *ngIf="_authService.loggedIn()">Proyectos Totales</a></li>
			<li id="logo" *ngIf="_authService.loggedIn()" >Angular</li>
			<li><a [routerLink]="['/users/']" [routerLinkActive]="['actived']" *ngIf="_authService.loggedIn()">Usuarios Registrados</a></li>

		</ul>
	
	</div>
	
	
	<div *ngIf="tipo==='member'">
	
		<ul>
	
			<li><a [routerLink]="['/perfil/', resID]" [routerLinkActive]="['actived']" *ngIf="_authService.loggedIn()">Perfil</a></li>
			<li><a [routerLink]="['/proyectos/user/',resID]" [routerLinkActive]="['actived']" *ngIf="_authService.loggedIn()">Proyectos</a></li>
			<li id="logo" *ngIf="_authService.loggedIn()" >Angular</li>
			<li><a [routerLink]="['/proyectos/create']" [routerLinkActive]="['actived']" *ngIf="_authService.loggedIn()">Crear Proyectos</a></li>
	
		</ul>
	
	</div>
	
	<div *ngIf="tipo==='client'">
	
		<ul>
	
			<li><a [routerLink]="['/perfil/', resID]" [routerLinkActive]="['actived']" *ngIf="_authService.loggedIn()">Perfil</a></li>
			<li><a [routerLink]="['/proyectos/']" [routerLinkActive]="['actived']" *ngIf="_authService.loggedIn()">Proyectos</a></li>
			<li id="logo" *ngIf="_authService.loggedIn()" >Angular</li>
	
		</ul>
	
	</div>

</div>

<div *ngIf="!_authService.loggedIn()">

	<ul>

		<li><a [routerLink]="['/login']" [routerLinkActive]="['actived']">Login</a></li>
		<li><a [routerLink]="['/register']" [routerLinkActive]="['actived']">Register</a></li>
	
	</ul>

</div>

</header>