<header>
	<ul>
	  <li><a mat-list-item [routerLink]="['/user/5c2a89dba1d6d915247f7e47']" [routerLinkActive]="['actived']">Perfil</a></li>
	  <li><a mat-list-item [routerLink]="['/proyectos']" [routerLinkActive]="['actived']">Proyectos</a></li>
	  <li id="logo">Angular</li>
	  <li><a mat-list-item [routerLink]="['/crear-proyectos']" [routerLinkActive]="['actived']">Crear Proyectos</a></li>
	  <li><a mat-list-item [routerLink]="['/editar-user/5c2a89dba1d6d915247f7e47']" [routerLinkActive]="['actived']">Configurar</a></li>
	</ul>
</header>
<section id="content">
	<router-outlet></router-outlet>
</section>
<footer>
	<p class="center">Todos los derechos reservados by Anderson Diaz</p>
</footer>