<header>
	<ul>
	  <li><a mat-list-item [routerLink]="['/sobre-mi']" [routerLinkActive]="['actived']">Sobre mi</a></li>
	  <li><a mat-list-item [routerLink]="['/proyectos']" [routerLinkActive]="['actived']">Proyectos</a></li>
	  <li id="logo"><a href="#">Angular</a></li>
	  <li><a mat-list-item [routerLink]="['/crear-proyectos']" [routerLinkActive]="['actived']">Crear Proyectos</a></li>
	  <li><a mat-list-item [routerLink]="['/contacto']" [routerLinkActive]="['actived']">Contacto</a></li>
	</ul>
</header>
<section id="content">
	<router-outlet></router-outlet>
</section>
<footer>
	<p class="center">Todos los derechos reservados by Anderson Diaz</p>
</footer>